*{
    padding: 0%;
    margin: 0%;
    border: 0;
    font-family: 'Ysabeau', sans-serif;
}

.header{
    display: block; 
    width: 100%;
    text-align: center;
    
}

body{
    background: linear-gradient(0deg,  #64bfe0 21%, white 100%);
}

.nav_1{
    display: flex;
    justify-content: space-around;
    background-color: #009FD7;
    box-shadow: 0 0 12px #3f3f3f;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.principal{
    justify-content: space-between;
    margin: 12px 12px;
}

.historia{
    justify-content: space-between;
    margin: 12px 12px;
}

.contactanos{
    justify-content: space-between;
    margin: 12px 12px;
}


.logo img{
    width: 120px;
    margin: 0 auto;
    margin-top: 21px;
}

.titulo{
    text-align: center;
}

.video{
    text-align: center;
    
}

.video1{
    margin-top: 33px;
    margin-bottom: 33px;
}

.video1 iframe{
    width: 90%;

}

.linea{
    height: 3px;
    width: 90%;
    margin: 0 auto;
    background-color: #054541;
    margin-bottom: 21px;
    margin-top: 21px;
}

.servicios{
    width: 80%;
    background-color: antiquewhite;
    margin: 0 auto;
    border-radius: 12px;
    padding: 21px;
    margin-top: 21px;
}

.img_desarrollo{
    text-align: center;
}

.img_desarrollo img{
    width: 90px;
}

.img_desarrollo h1{
    margin: 0 auto; 

}

.footer{
    text-align: center;
    margin: 33px;
}